/* Reset margin and padding for the body */
body {
    margin: 0;
    padding: 0;
    background-color: black; /* Set the background color to black */
}

/* Center the container vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the gameCanvas */
#gameCanvas {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    background-color: transparent; /* Set the canvas background color */
}

/* Style for the videoPlayer */
#videoPlayer {
    max-width: 100%;
    height: auto; /* Maintain the video's aspect ratio */
    object-fit: center; /* Center the video content within the videoPlayer container */
    display: block;
}

/* You can keep your existing styles for other elements */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
